
.DS_Store
node_modules/
coverage/
docs/

data/
coverage/
sessions/
__image_snapshots_/
__diff_output__/
trace/
.node-persist/
.nyc_output/

*.db
*snap.png
*diff.png
*trace.json
*.0x

config.json 


*.codio
*.c9
